header {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: proxima-nova, Verdana, Arial, Helvetica, sans-serif;
  background: none;
  background-color: rgb(213, 0, 0);
  background-image: linear-gradient(rgb(213, 0, 0), rgb(255, 138, 128));
  border-bottom-color: rgb(255, 138, 128);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: rgb(213, 0, 0);
  border-top-style: solid;
  border-top-width: 1px;
}

#desktop-mmenu {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  height: 81px;
  line-height: normal;
  position: relative;
  text-size-adjust: 100%;
  text-transform: uppercase;
  visibility: visible;
}
